@use "../base/variables" as v;
@use "../base/mixins" as m;

.contenedor-anuncios {
  @include m.tablet {
    @include m.grid(3, 2rem);
  }
}

.anuncio {
  background: lighten($color: v.$gris, $amount: 5);
  border: 1px solid darken($color: v.$gris, $amount: 10);


  .contenido-anuncio {
    padding: 2rem;

    h3, p {
        margin: 0;
    }

    
  }
}

.precio {
  color: v.$verde;
  font-weight: v.$bold;
  font-size: 3rem;
}


.iconos-caracteristicas {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;
        gap: 1rem;


        img {
            flex: 0 0 5rem;
        }

        p {
            font-weight: black;
        }
    }
}