@use '../base/variables' as v;
@use '../base/mixins' as m;


.alerta {
    padding: .5rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: v.$bold;
    text-transform: uppercase;
    color: v.$blanco;

    &.error {
        background-color: v.$rojo;
    }
    &.exito {
        background-color: v.$verde;
    }
}